.abc{
    width:100%;
    height:50px;
 background-color:red;
}
.one ol li{
    text-decoration: none;
    float: left;
    color: royalblue;
    padding: 15px;
    list-style: none;
    display: inline;
    font-size: 20px;
   
    }
.two ol li{
    font-size: 20px;
    float: right;
    color: royalblue;
    padding: 15px;
    list-style: none;
    display: inline; 
}
.bcd{
   front-color: red;
}
